.banner-section {
  background-image: url("/images/slideshow-pattern.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: #f5e6e0;
  .banner-content {
    span {
      color: $primary-color;
      position: relative;
      padding-left: 60px;
      &::before {
        content: "";
        width: 50px;
        height: 1px;
        background-color: $primary-color;
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    div {
      font-size: 56px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    p {
      font-size: 18px;
      text-transform: uppercase;
    }
  }
}

.tranding-products {
  .nav-tabs {
    justify-content: center;
    gap: 20px;
    border-bottom: none !important;
    .nav-item {
      .nav-link {
        border: none !important;
        text-transform: uppercase;
        font-size: 16px;
        color: rgb(46, 46, 46);
        font-weight: 700;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0px;
          width: 0%;
          height: 1px;
          background-color: black;
          bottom: 0px;
          transition: 0.5s;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
      .nav-link.active {
        color: red;
        &::after {
          width: 100%;
        }
      }
    }
  }
  .tab-content {
    margin-top: 40px;
  }
}

.slick-arrow {
  background-color: transparent;
  position: absolute;
  top: 50%;
  z-index: 1;
  color: gray;
  border: none;
  font-size: 30px;
}
.slick-next {
  right: -20px;
}
.slick-prev {
  left: -20px;
}
.slick-dots {
  margin-top: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  li {
    height: 20px;
    width: 20px;
    background-color: gray;
    border-radius: 50%;
    button {
      border: none;
      background: none;
      opacity: 0;
    }
  }
  .slick-active {
    height: 30px;
    width: 30px;
    background-color: red;
  }
}

.gallery-items {
  position: relative;
  display: block;
  width: fit-content;
  height: fit-content;
  img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    overflow: hidden;
  }
  &::before, &::after {
    content: "";
    background-color: rgba(194, 191, 191, 0.568);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }
  &::before {
    height: 100%;
    width: 0%;
  }
  &::after {
    width: 100%;
    height: 0%;
  }
  &:hover{
    &::before {
      height: 100%;
      width: 100%;

    }
    &::after {
      width: 100%;
      height: 100%;

    }
  }
}
